.media-body {
    font-size: 14px;
}

dd {
    word-wrap: break-word;
}

a.edit:hover, a.delete:hover {
    text-decoration: none;
}
.tile {
    padding-top: 50px;
}
.image-container {
    float: left;
    margin-right: 25px;
}
